# Docker ignore patterns

# dependencies
node_modules

# next.js build output
.next

# local environment files
.env
.env.example

# logs
npm-debug.log*
yarn-debug.log*
*.log

# Dockerfile and git
Dockerfile
.dockerignore
.git
.github
.gitignore

# Editor directories and misc
.DS_Store