<html>
  <body>
    <p><strong>Payment Completed</strong></p>
    <p>User {{userEmail}} has completed a payment:</p>
    <ul>
      <li>Amount: {{paymentData.amount}} {{paymentData.currency}}</li>
      <li>Payment ID: {{paymentData.id}}</li>
    </ul>
    <p>Thank you.</p>
  </body>
</html>